<div class="blog-single gray-bg">
    <div class="container">
        <div class="row align-items-start ">
            <div class="col-lg-8 m-15px-tb">
                <article class="article">
                    <div class="article-img">
                        <img src="{{Dia_chi_Dich_vu_img}}/{{blogDetail.thumbnail}}.jpg" title="" alt="">
                    </div>
                    <div class="article-title">
                        <h2>{{blogDetail.tieu_de}}</h2>
                        <div class="media">
                            <div class="media-body">
                                <label>Phương Nam</label>
                                <span>23/05/2024</span>
                            </div>
                        </div>
                    </div>
                    <div class="article-content" ng-bind-html="blogDetail.noi_dung">
                        
                        <!-- <p>Tháng tư rực rỡ đang sắp đến mang theo thời tiết nóng đặc trưng của mùa hè. Chuẩn bị một
                            không gian xanh mát cho căn nhà là cách giải nhiệt hiệu quả cho mùa hè này. Cùng Nhà
                            Xinh khám phá những ý tưởng không gian xanh cho mùa hè thật tươi mát.</p>

                        <h4>Không gian xanh mát với nội thất thiết kế tối giản</h4>
                        <p>Lựa chọn các thiết kế nội thất tối giản tạo được cảm giác rộng rãi và thông thoáng cho
                            không gian trong những ngày hè oi bức sắp tới. Đáng chú ý hơn, việc sở hữu các món nội
                            thất với thiết kế đơn giản cũng làm bật lên sự sang trọng và tinh tế qua những món đồ
                            nội thất trong nhà.</p>
                        <img src="./images/blog/phong-khach-mua-he-2-1.jpg" alt="">
                        <h4>Cây và hoa thêm sắc xanh</h4>
                        <p>Một không gian xanh trong căn nhà sẽ hướng bạn nghĩ ngay đến không gian rộng mở, thoáng
                            đãng và mát mẻ với màu xanh của cây cỏ. Không chỉ mang tính thẩm mỹ cao, việc đầu tư một
                            không gian xanh giúp cải thiện sức khỏe, tái tạo năng lượng rất tốt. </p>
                        <img src="./images/blog/phong-khach-hien-dai-tre-trung-1.jpg" alt="">
                        <h4>Chọn màu sắc tươi sáng</h4>
                        <p>Sắc xanh đại diện cho hoa lá và cây cỏ, sẽ làm không gian trở nên mát mẻ, bạn có thể lựa
                            chọn các gam màu khác nhẹ nhàng, mát mắt và gần gũi với tự nhiên. Lựa chọn được màu sắc
                            dễ chịu và đúng theo ý thích giúp gia chủ luôn có nhiều năng lượng tích cực và thỏa mái
                            với không gian của mình.</p>
                        <img src="./images/blog/sac-mau-mua-ha-cho-phong-khach-tuoi-moi.jpg" alt="">
                        <img src="./images/blog/sac-mau-mua-ha-cho-phong-khach-tuoi-moi-1.jpg" alt=""> -->
                    </div>
                    <div class="nav tag-cloud">
                        <a href="#">Thiết kế nội thất</a>
                        <a href="#">Thiết kế nhà</a>
                        <a href="#">Nội thất</a>
                        <a href="#">Phòng khách</a>
                        <a href="#">Trang trí nội thất</a>
                        <a href="#">Đồ trang trí</a>
                    </div>
                </article>

            </div>
            <div class="col-lg-4 m-15px-tb blog-aside">

                <div class="widget widget-post">
                    <div class="widget-title">
                        <h3>Tin nổi bật</h3>
                    </div>
                    <div class="widget-body">
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row g-0">
                                <div class="col-md-6">
                                    <img src="./images/du-an-xay-dung-diem-truong-lung-vai-534x400.jpg"
                                        class="img-fluid rounded-start img-post" alt="...">
                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <h5 class="card-title">TRƯỜNG LÙNG VÀI</h5>
                                        <p class="card-text">Vừa qua, Điểm Trường Lùng Vài tại huyện Vị Xuyên, Hà
                                            Giang vừa đoạt[...]</p>
                                        <p class="card-text"><small class="text-body-secondary">23/05/2024</small>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row g-0">
                                <div class="col-md-6">
                                    <img src="./images/qua-noi-that-8-3.jpg" class="img-fluid rounded-start img-post"
                                        alt="...">
                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <h5 class="card-title">Chọn quà nội thất cho lễ 8/3</h5>
                                        <p class="card-text">Ngày 8/3 là dịp để tôn vinh vai trò của phụ nữ và để
                                            thể hiện lòng biết ơn, [...]</p>
                                        <p class="card-text"><small class="text-body-secondary">23/05/2024</small>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row g-0">
                                <div class="col-md-6">
                                    <img src="./images/giuong-ngu-May.jpg" class="img-fluid rounded-start img-post"
                                        alt="...">
                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <h5 class="card-title">PHÒNG NGỦ MÂY – VẺ ĐẸP TỪ CHẤT LIỆU THÂN QUEN</h5>
                                        <p class="card-text">Một trong những niềm tự hào của MOON,[...]</p>
                                        <p class="card-text"><small class="text-body-secondary">23/05/2024</small>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="widget widget-latest-post">
                    <div class="widget-title">
                        <h3>Bài viết khác</h3>
                    </div>
                    <div class="widget-body">
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row g-0">
                                <div class="col-md-6">
                                    <img src="./images/khong-gian-mat-diu-mua-he-7-1200x800.jpg"
                                        class="img-fluid rounded-start img-post" alt="...">
                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <h5 class="card-title">Không gian mát dịu cho mùa hè</h5>
                                        <p class="card-text">Chiếc sofa Bolero vải xanh êm ái là một lựa chọn tinh
                                            tế cho
                                            mùa hè nóng này. Một chiếc [...]</p>
                                        <p class="card-text"><small class="text-body-secondary">23/05/2024</small>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3" style="max-width: 550px;">
                            <div class="row g-0">
                                <div class="col-md-6">
                                    <img src="./images/sofa-jadora-3-1248x800.jpg"
                                        class="img-fluid rounded-start img-post" alt="...">
                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <h5 class="card-title">Sofa Jadora – Êm ái tựa chiếc giường ngủ thân quen</h5>
                                        <p class="card-text">Sofa Jadora không chỉ là một món nội thất đẹp[...]</p>
                                        <p class="card-text"><small class="text-body-secondary">23/05/2024</small>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row g-0">
                                <div class="col-md-6">
                                    <img src="./images/he-thong-tu-sach-hien-dai.jpg"
                                        class="img-fluid rounded-start img-post" alt="...">
                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <h5 class="card-title">Không gian đọc sách thư giãn</h5>
                                        <p class="card-text">Sắp xếp không gian đọc sách riêng biệt tạo cảm hứng cho
                                            hoạt
                                            động đọc sách sẽ giúp duy trì [...]</p>
                                        <p class="card-text"><small class="text-body-secondary">23/05/2024</small>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="widget widget-tags">
                    <div class="widget-title">
                        <h3>Thẻ khác</h3>
                    </div>
                    <div class="widget-body">
                        <div class="nav tag-cloud">
                            <a href="#">Thiết kế</a>
                            <a href="#">Thiết kế nội thất</a>
                            <a href="#">Đồ nội thất phòng khách</a>
                            <a href="#">Thiết kế phòng khách</a>
                            <a href="#">Nội thất</a>
                            <a href="#">Phòng ngủ</a>
                            <a href="#">Nhà bếp</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="w-100 d-flex justify-content-center">
            <h2 class="fw-bolder mb-4">Sản phẩm nội thất</h2>
        </div>

        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5" ng-repeat="spRan in dsspRandom | limitTo:4:beginDetail">
                <div class="card h-100">
                    <img class="card-img-top" src="{{Dia_chi_Dich_vu_img}}/{{spRan.ma_so}}.jpg"
                        alt="..." />
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h5 class="fw-bolder">{{spRan.ten}}</h5>
                            {{spRan.gia | number:0}} đ
                        </div>
                    </div>

                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#!productDetail/{{spRan.ma_so}}">Xem Chi Tiết</a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>