<div class="container">
    <div class="intro">
        <div class="first-intro">
            <h2>LỊCH SỬ HÌNH THÀNH</h2>
            <p>Ra đời từ ý tưởng tạo nên sự khác biệt, MOON đã giữ vững và phát triển trở thành vị trí hàng đầu
                trong
                thị trường nội thất Việt Nam. Đến nay, MOON đã có nhiều cửa hàng quy mô và chuyên nghiệp tại các
                thành
                phố lớn là Hà Nội và TP.HCM, Bình Dương.</p>
        </div>
        <div class="row ">
            <div class="col-md-6">
                <img src="./images/gioi-thieu-1.jpg" alt="">
            </div>
            <div class="col-md-6">
                <p><strong>2021</strong>: Khẳng định thương hiệu bền vững với những bước phát triển mới dù đối mặt
                    những khó khăn do dịch bệnh Covid. Hệ thống cửa hàng mở rộng, với showroom mới tại Bình Dương.
                </p>
                <p><strong>2020</strong>: Đơn vị chủ quản thương hiệu MOON – AKA Furniture Group tái cơ cấu trở
                    thành thành viên của tập đoàn AA Corporation – Tập đoàn sản xuất và thi công nội thất chất lượng
                    cao hàng đầu Châu Á.
                </p>
                <p><strong>2019</strong>: Đây là năm mang dấu ấn đặc biệt của thương hiệu MOON – Đánh dấu chặng
                    đường phát triển 20 năm. Với sự xuất hiện của 2 cửa hàng tại Nguyễn Văn Hưởng (Q2, HCM) và Trung
                    tâm nội thất Thụy Khuê (Tây Hồ, Hà Nội)
                </p>
                <p><strong>2016</strong>: Mở rộng hệ thống MOON với 2 cửa hàng lớn ở ngay trung tâm thủ đô Hà
                    Nội thuộc quận Hoàn Kiếm và quận Đống Đa.
                </p>
                <p><strong>2011 – 2014</strong>: Khẳng định thương hiệu với sự xuất hiện của 2 cửa hàng mới tại ngã
                    tư trung tâm Q1, TP.HCM (Hai Bà Trưng – Trần Cao Vân) và TTTM Royal City Hà Nội.
                </p>
                <p><strong>2005 – 2010</strong>: Phát triển mạnh mẽ với hệ thống cửa hàng trên các khu đô thị mới là
                    MOON Yên Hòa, MOON Phú Mỹ Hưng và MOON Centre – khu vực trung tâm Q1.
                </p>
                <p><strong>2002 – 2005</strong>: MOON Cát Linh tại Hà Nội và MOON Citimart tại TP.HCM nhằm
                    hoàn thiện hệ thống và phục vụ tốt hơn cho Khách hàng.
                </p>
                <p><strong>1999</strong>: Ra đời với 2 cửa hàng lớn tại Hà Nội và TP.HCM, mang đậm phong cách riêng
                    về thiết kế và cách bày trí.
                </p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6">
                <img src="./images/gioi-thieu-2.jpg" width="600" alt="">
            </div>
            <div class="col-md-6">
                <h3>Nhà sáng lập</h3>
                <p>Ông Nguyễn Quốc Khanh là người sáng lập tập đoàn AA, thương hiệu nội thất MOON và hiện tại
                    Ông đang giữ vị trí chủ tịch hiệp hội chế biến gỗ TP.HCM (Hawa). Là một kiến trúc sư, nhà thiết
                    kế nội thất, Ông đam mê ngành gỗ cũng như tham vọng mang thương hiệu Việt ra toàn thế giới.</p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6">
                <img src="./images/gioi-thieu-3.jpg" width="600" alt="">
            </div>
            <div class="col-md-6">
                <h3>Giá trị và sự khác biệt</h3>
                <p>Với mong muốn phát triển thương hiệu Việt bằng nội lực, MOON đã chú trọng vào thiết kế và sản
                    xuất nội thất trong nước. Danh mục sản phẩm của MOON thường xuyên được đổi mới và cập nhật,
                    liên tục cung cấp cho khách hàng các dòng sản phẩm theo xu hướng mới nhất. Do chính người Việt
                    thiết kế và sản xuất, nội thất thương hiệu MOON luôn phù hợp với cuộc sống Á Đông, đem đến
                    sự tiện nghi hoàn hảo trong mọi không gian sống.</p>
                <p>Hơn 70% sản phẩm của MOON được thiết kế, sản xuất bởi đội ngũ nhân viên cùng công nhân ưu tú
                    với nhà máy có cơ sở vật chất hiện đại bậc nhất tại Việt Nam.</p>
                <p>Sự khác biệt của MOON chính là sáng tạo nội thất thành phong cách riêng, phù hợp với nhu cầu
                    khách hàng. Không chỉ là sản phẩm nội thất đơn thuần, mà còn là không gian sống theo phong cách
                    riêng với cách bày trí hài hòa từ đồ nội thất kết hợp với đồ trang trí. Giúp khách hàng cảm nhận
                    được một không gian sống thực sự, cảm thấy thoải mái để tận hưởng cuộc sống.</p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6">
                <img src="./images/gioi-thieu-4.jpg" width="600" alt="">
            </div>
            <div class="col-md-6">
                <h3>Chất lượng và dịch vụ</h3>
                <p>Chất lượng của nguyên vật liệu, phụ kiện và quy trình sản xuất đều được kiểm định và giám sát
                    chặt chẽ bởi hệ thống quản lý chất lượng ISO 9001. Sản phẩm của MOON được thiết kế theo định
                    hướng công năng sử dụng, thẩm mỹ và chất lượng. Trong những năm gần đây, thương hiệu luôn hướng
                    đến xu hướng thiết kế xanh nhằm đóng góp không chỉ một không gian sống tiện nghi mà còn là một
                    môi trường sống trong lành cho người sử dụng và cộng đồng. Với nhiều cống hiến như vậy, MOON
                    vinh dự nhiều năm liền được trao tặng các danh hiệu “Hàng Việt Nam chất lượng cao”, “Trusted
                    brand” và “Top 100 nhà cung cấp hàng đầu”.</p>
                <p>Bên cạnh đó, MOON tự hào sở hữu đội ngũ tư vấn thiết kế và kỹ sư chuyên nghiệp, có kiến thức
                    sâu rộng trong lĩnh vực đồ gỗ nội thất. Tập thể nhân viên tại MOON cam kết nỗ lực tư vấn và
                    trợ giúp khách hàng lựa chọn sản phẩm ưng ý nhất. Dịch vụ tư vấn thiết kế của MOON sẽ giúp
                    khách hàng kiến tạo một không gian sống như ý thông qua sự phối hợp điêu luyện giữa các sản phẩm
                    nội thất và đồ trang trí.</p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6">
                <img src="./images/gioi-thieu-5.jpg" width="600" alt="">
                <img class="mt-2" src="./images/gioi-thieu-6.jpg" width="600" alt="">
                <img class="mt-2" src="./images/gioi-thieu-7.jpg" width="600" alt="">
            </div>
            <div class="col-md-6">
                <h3>Nhà máy</h3>
                <p>Phần lớn sản phẩm của MOON được sản xuất tại nhà máy của Tổng công ty AA (AA Đức Hòa, Long An
                    và AA Tây Ninh) có diện tích 80.000m2, với trang thiết bị hiện đại nhất và theo tiêu chuẩn ISO
                    9001, chuyên sản xuất các sản phẩm nội thất chất lượng cao cho các khách sạn, nhà hàng 5 sao, dự
                    án nội thất cao cấp và xuất khẩu.</p>
                <h3>MOON và Cộng Đồng</h3>
                <p>Đóng góp cho cộng đồng nằm trong sứ mệnh của MOON. Để trở thành thương hiệu tiên phong và văn
                    minh, MOON đã thực hiện nhiều các hoạt động cộng đồng như hỗ trợ trẻ em nghèo, tham gia các
                    hoạt động vì môi trường như thiết kế xanh, đi bộ từ thiện,… Những bước chân, hành động không
                    ngừng nghỉ để góp phần cho cuộc sống tốt hơn.</p>
            </div>
        </div>
    </div>
</div>