<div class="wrapper">
    <div class="container main">
        <div class="row row-login">
            <div class="col-md-6 side-image">
                <img class="imgLeft" src="./images/logo-cutout.png">

            </div>

            <div class="col-md-6 right">
                <div class="input-box">
                    <h3>Đăng ký tài khoản</h3>
                    <div class="input-field">
                        <input type="text" class="input" id="email" required autocomplete="off">
                        <label for="email">Email</label>
                    </div>
                    <div class="input-field">
                        <input type="password" class="input" id="password" required autocomplete="off">
                        <label for="password">Mật khẩu</label>
                    </div>
                    <div class="input-field">
                        <input type="password" class="input" id="ConfirmPassword" required autocomplete="off">
                        <label for="ConfirmPassword">Xác nhận mật khẩu</label>
                    </div>
                    <div class="input-field">
                        <button class="submit btn btn-outline-dark" type="submit">Đăng nhập</button>
                    </div>
                    <div class="signup">
                        <span>Đã có tài khoản rồi? <a href="#">Đặng nhập ở đây</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>