<div class="wrapper">
  <section class="h-100 shopping-cart">
    <div class="container py-5">
      <div class="row d-flex justify-content-center my-4">
        <div class="col-md-8">
          <div class="card mb-4">
            <div class="card-header py-3">
              <h5 class="mb-0">Giỏ Hàng</h5>
            </div>
            <div class="card-body">

              <div class="row" ng-repeat="sp in dsCarts track by $index">

                <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">

                  <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
                    <img src="{{Dia_chi_Dich_vu_img}}/{{sp.ma_so}}.jpg" class="w-100" alt="Blue Jeans Jacket" />
                    <a href="#!">
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                    </a>
                  </div>

                </div>

                <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                  <p><strong>{{sp.ten}}</strong></p>
                  <button type="button" data-mdb-button-init data-mdb-ripple-init
                    class="btn btn-outline-dark btn-sm me-1 mb-2" data-mdb-tooltip-init title="Remove item"
                    ng-click="deleteCart(sp.ma_so)">
                    <i class="fas fa-trash"></i>
                  </button>
                </div>

                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">

                  <div class="d-flex mb-4" style="max-width: 300px">
                    <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-dark px-3 me-2 btn-qty"
                      ng-click="decreaseQuantity(sp)">
                      <i class="fas fa-minus"></i>
                    </button>

                    <div data-mdb-input-init class="form-outline">
                      <input id="quantityDetail" min="0" name="quantity" value="{{sp.soluong}}" type="number"
                        class="form-control" />
                      <label class="form-label" for="form1">Số lượng</label>
                    </div>

                    <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-dark px-3 ms-2 btn-qty"
                      ng-click="increaseQuantity(sp)">
                      <i class="fas fa-plus"></i>
                    </button>
                  </div>

                  <p class="text-start text-md-center">
                    <strong>{{sp.gia*sp.soluong | number:0}} đ</strong>
                  </p>
                </div>
                <hr class="my-4" />
              </div>



              <!-- <div class="row">
                <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">

                  <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
                    <img src="./images/Ban-lam-viec-Coastal-600x400.jpg" class="w-100" />
                    <a href="#!">
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                    </a>
                  </div>

                </div>

                <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                  <p><strong>Bàn làm việc Coastal</strong></p>
                  <button type="button" data-mdb-button-init data-mdb-ripple-init
                    class="btn btn-outline-dark btn-sm me-1 mb-2" data-mdb-tooltip-init title="Remove item">
                    <i class="fas fa-trash"></i>
                  </button>
                </div>

                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                  <div class="d-flex mb-4" style="max-width: 300px">
                    <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-dark px-3 me-2 btn-qty"
                      onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                      <i class="fas fa-minus"></i>
                    </button>

                    <div data-mdb-input-init class="form-outline">
                      <input id="form1" min="0" name="quantity" value="1" type="number" class="form-control" />
                      <label class="form-label" for="form1">Số lượng</label>
                    </div>

                    <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-dark px-3 ms-2 btn-qty"
                      onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                      <i class="fas fa-plus"></i>
                    </button>
                  </div>
                  <p class="text-start text-md-center">
                    <strong>14,900,000 đ</strong>
                  </p>
                </div>
              </div> -->
            </div>
          </div>

          <div class="card mb-4">
            <div class="card-body">
              <p><strong>MÃ GIẢM GIÁ</strong></p>
              <input type="text" class="mb-0 in-discount-coupon">
              <span><button class="btn btn-outline-dark ms-1">Áp dụng</button></span>
            </div>
          </div>
          <div class="card mb-4 mb-lg-0">
            <div class="card-body">
              <p><strong>Những loại thẻ thanh toán</strong></p>
              <img class="me-2" width="45px"
                src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg"
                alt="Visa" />
              <img class="me-2" width="45px"
                src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg"
                alt="American Express" />
              <img class="me-2" width="45px"
                src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg"
                alt="Mastercard" />

            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4">
            <div class="card-header py-3">
              <h5 class="mb-0">Hóa đơn</h5>
            </div>
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                  Sản phẩm
                  <span>{{tongTien | number:0}} đ</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                  Giảm giá
                  <span>0 đ</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                  <div>
                    <strong>Tổng hóa đơn</strong>
                    <strong>
                      <p class="mb-0">(Bao gồm VAT)</p>
                    </strong>
                  </div>
                  <span><strong>{{tongTien | number:0}} đ</strong></span>
                </li>
              </ul>

              <button type="button" class="btn btn-outline-dark btn-lg btn-block" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                Thanh toán
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Thông tin đặt hàng</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form class="needs-validation" name="frmDatHang">
              <div class="row g-3">
                <div class="col-sm-6">
                  <label for="firstName" class="form-label">Họ và tên</label>
                  <input type="text" class="form-control" name="fullName" id="fullName" ng-model="fullName" placeholder="" value=""
                    required>
                  <div class="alert alert-danger" ng-show="frmDatHang.fullName.$invalid">
                    Vui lòng điền họ tên của bạn
                  </div>
                </div>

                <div class="col-sm-6">
                  <label for="lastName" class="form-label">Số điện thoại</label>
                  <input type="text" class="form-control" name="phone" id="phone" ng-model="phone" placeholder="" value="" required>
                  <div class="alert alert-danger" ng-show="frmDatHang.phone.$invalid">
                    Vui lòng điền số điện thoại
                  </div>
                </div>

                <div class="col-12">
                  <label for="email" class="form-label">Email</label>
                  <input type="email" class="form-control" name="email" id="email" ng-model="email" placeholder="you@example.com"
                    required>
                  <div class="alert alert-danger" ng-show="frmDatHang.email.$invalid">
                    Vui lòng điền email
                  </div>
                </div>
                
                <div class="col-12">
                  <label for="address" class="form-label">Địa chỉ</label>
                  <input type="text" class="form-control" name="address" id="address" ng-model="address" placeholder="1234 Nguyễn Trãi"
                    required>
                  <div class="alert alert-danger" ng-show="frmDatHang.address.$invalid">
                    Vui lòng điền địa chỉ giao hàng
                  </div>
                </div>
              </div>
            </form>
            <div class="alert alert-danger" ng-show="frmDatHang.$invalid">
              Thông tin không được để trống
            </div>
            <div class="alert alert-success" ng-show="frmDatHang.$valid">
              Thông tin hoàn tất
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            <button type="button" class="btn btn-primary" ng-click="datHang()">Đặt hàng</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>